.partners-container {
	display: flex;
	gap: 6rem 1rem;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 4rem;
}

.partners-container .partner {
	position: relative;
	border: 1px solid var(--wp--preset--color--quinary);
	border-radius: 40px;
	background-color: var(--wp--preset--color--primary);
	padding: 4rem 1rem 1rem;
	width: 15rem;
	text-align: center;
}

.partners-container .partner .picture {
	position: absolute;
	top: -4rem;
	left: 50%;
	transform: translateX(-50%);
}

.partners-container .partner .picture > img {
	border-radius: 40px;
}

.partners-container .partner h2 {
	display: block;
}
