.partners-container {

	display: flex;
	gap: 6rem 1rem;
	width: 100%;
	flex-wrap: wrap;
	padding-top: 4rem;

	.partner {
		position: relative;
		border: 1px solid var(--wp--preset--color--quinary);
		border-radius: 40px;
		background-color: var(--wp--preset--color--primary);
		padding: 4rem 1rem 1rem;
		width: 15rem;
		text-align: center;


		.picture {
			position: absolute;
			top: -4rem;
			left: 50%;
			transform: translateX(-50%);

			> img {
				border-radius: 40px;
			}
		}

		h2 {
			display: block;
		}
	}
}

