.container-article-horizontal {
	width: 800px;
}

.container-article-horizontal .article-horizontal {
	background-color: var(--wp--preset--color--base);
	border-radius: 1rem;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.container-article-horizontal .article-horizontal .post-thumbnail {
	display: flex;
	align-items: center;
	min-height: 180px;
	margin: 1rem;
}

.container-article-horizontal .article-horizontal .post-thumbnail a {
	width: 100%;
	display: flex;
	align-items: center;
	margin: auto;
}

.container-article-horizontal .article-horizontal .post-content {
	width: 75%;
	margin: 1rem 0 1rem 1rem;
	padding-left: 2rem;
	border-left: 4px solid #efefef;
}

.container-article-horizontal .article-horizontal .post-content h3 {
	margin: 0;
}

.container-article-horizontal .article-horizontal .post-content h3 a {
	text-decoration: none;
}

.container-article-horizontal .article-horizontal .post-content .tags {
	margin: 0;
	display: flex;
	justify-content: start;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
}

.container-article-horizontal .article-horizontal .post-content .tags a {
	font-size: var(--wp--preset--font-size--small);
	padding: 0.2rem 0.5rem;
	margin: 0;
	background-color: rgb(78, 78, 78);
	color: var(--wp--preset--color--base);
	text-decoration: none;
}

.container-article-horizontal .article-horizontal .post-content .entry-content p {
	margin: 0;
}

.container-article-horizontal .article-horizontal .post-navigation {
	width: 300px;
}

.container-article-horizontal .article-horizontal .post-navigation a {
	margin: auto;
}
