.container-article-horizontal {
	width: 800px;

	.article-horizontal {
		background-color: var(--wp--preset--color--base);
		border-radius: 1rem;
		border: 1px solid black;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;


		.post-thumbnail {
			display: flex;
			align-items: center;
			min-height: 180px;
			margin: 1rem;

			a {
				width: 100%;
				display: flex;
				align-items: center;
				margin: auto;
			}
		}

		.post-content {
			width: 75%;
			margin: 1rem 0 1rem 1rem;
			padding-left: 2rem;
			border-left: 4px solid #efefef;

			h3 {
				margin: 0;

				a {
					text-decoration: none;
				}
			}

			.tags {
				margin: 0;
				display: flex;
				justify-content: start;
				align-items: flex-start;
				flex-wrap: wrap;
				gap: 1rem;

				a {
					font-size: var(--wp--preset--font-size--small);
					padding: 0.2rem 0.5rem;
					margin: 0;
					background-color: rgb(78, 78, 78);
					color: var(--wp--preset--color--base);
					text-decoration: none;
				}
			}

			.entry-content {

				p {
					margin: 0;
				}
			}
		}

		.post-navigation {
			width: 300px;

			a {
				margin: auto;
			}
		}
	}
}
