<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40)"><!-- wp:columns {"verticalAlignment":null,"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column {"verticalAlignment":"bottom"} -->
    <div class="wp-block-column is-vertically-aligned-bottom"><!-- wp:acf/newsletter {"name":"acf/newsletter","data":{},"mode":"preview","alignText":"center"} /-->
    
    <!-- wp:paragraph {"align":"right"} -->
    <p class="has-text-align-right">Proudly powered by <a href="https://wordpress.org/">WordPress</a></p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->