<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"bottom":"var:preset|spacing|40","top":"var:preset|spacing|40","right":"var:preset|spacing|40","left":"var:preset|spacing|30"},"blockGap":"0"}},"layout":{"type":"flex","justifyContent":"space-between"}} -->
	<div class="wp-block-group alignwide" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--30)"><!-- wp:image {"id":26,"sizeSlug":"thumbnail","linkDestination":"none","style":{"border":{"width":"0px","style":"none","radius":"0px"}}} -->
	<figure class="wp-block-image size-thumbnail has-custom-border"><img src="http://startertheme.local/wp-content/uploads/2022/10/slack-design-logo-150x150.jpeg" alt="website logo" class="wp-image-26" style="border-style:none;border-width:0px;border-radius:0px"/></figure>
	<!-- /wp:image -->
	
	<!-- wp:navigation {"ref":27,"overlayMenu":"always","icon":"menu","layout":{"type":"flex","setCascadingProperties":true,"justifyContent":"right","orientation":"horizontal"},"style":{"spacing":{"blockGap":"0"}},"fontSize":"small"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group -->