/*!
Theme Name: Twenty Twenty-Three
Theme URI: https://wordpress.org/themes/twentytwentythree
Author: IHAG
Author URI: https://wordpress.org
Description: Twenty Twenty-Three is a diverse, collaborative effort designed with the expansion of the possibilities of the block editor in mind. With a blank, unopinionated base as a starting point, this year’s default theme has minimal demo content to get in your way. It embraces aesthetic diversity with a collection of style variations created by members of the WordPress Community, and it is built to take advantage of the new tools introduced in WordPress 6.1. Whether you want to build a complex or incredibly simple website, you can style it the way you want it, and you can do it quickly and intuitively through the bundled styles or dive into creation and full customisation yourself.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, rtl-language-support, theme-options, threaded-comments, translation-ready, wide-blocks
*/


.is-blue {
	background-color: rgb(46, 46, 147);
	border: 1px solid red;
	color: white;
}

header {
	position: fixed;
	top: 2rem;
	width: 100%;
	z-index: 99;
}

.content-page {
	margin-top: 116px;
}

.section-job-card {
	background-color: rgb(205, 205, 205);
	padding: 4.25rem 0;

	.alignwide {
		display: flex;
		gap: 2rem;
		flex-wrap: nowrap;
		align-items: center;
	}
}

.container-chiffre1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	.number-card-1 {
		margin: 0;
	}

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}
}

.container-chiffre2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2rem;

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}
}
