.ressource-card {
	border: 2px solid var(--wp--preset--color--quinary);
	border-radius: 40px;
	padding: 1rem;
	width: 20rem;
}

.ressource-card p {
	font-size: var(--wp--preset--font-size--small);
}

.ressource-card h4 {
	margin-top: 0;
}

.ressource-card .wp-block-button {
	text-align: right;
}

.ressource-card .wp-block-button > * {
	background: none;
	color: var(--wp--preset--color--quinary);
	font-size: var(--wp--preset--font-size--small);
	text-decoration: underline;
	padding: 0;
}

.ressource-card .wp-block-button ::after {
	content: ">";
	position: relative;
	top: 0;
}
