.container-article {
	max-width: var(--wp--style--global--wide-size);
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1rem;

	@media screen and (max-width: 800px) {
		flex-direction: column;
	}


	.article {
		position: relative;
		max-width: 300px;
		padding-bottom: 6rem;
		border-radius: 40px;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
		display: flex;
		align-items: center;
		margin: 0 auto;
		flex-direction: column;

		.post-thumbnail {
			width: 100%;

			a {
				background: transparent;

				img {
					border-top-left-radius: 40px;
					border-top-right-radius: 40px;
					height: auto;
					max-width: 100%;
					border-style: none;
				}
			}
		}

		.post-content {
			padding: 0 1rem 1rem 1rem;

			.post-title {
				text-align: center;
				margin: 0;

				a {
					text-decoration: none;
				}
			}

			time {
				font-size: var(--wp--preset--font-size--small);
			}

			.tags {
				margin: 0;
				display: flex;
				justify-content: start;
				align-items: flex-start;
				flex-wrap: wrap;
				gap: 1rem;

				a {
					font-size: var(--wp--preset--font-size--small);
					padding: 0.2rem 0.5rem;
					margin: 0;
					background-color: rgb(78, 78, 78);
					color: var(--wp--preset--color--base);
					text-decoration: none;
				}
			}

			.entry-content {

				> * {
					margin: 0;
				}
			}
		}

		.post-navigation {
			text-align: center;
			position: absolute;
			bottom: 1rem;
		}
	}
}
