form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: right;
}

.is-style-default {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.is-style-bg-no-logo-text-img {
	margin-top: 5rem;
	margin-bottom: 2rem;
	padding: 0 4rem 0 2rem;
}

.wp-block-group h2 {
	margin-bottom: 0;
}

.wp-block-group p {
	margin-top: 0;
	margin-bottom: 4rem;
}

.form-group {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
	flex-wrap: nowrap;
	align-items: center;
	gap: 0.5rem;
	margin: 1.5rem 0;
}

input {
	max-width: none;
	padding: 0;
}

select {
	padding: 0.4rem 0.75rem;
	width: fit-content;
	max-width: 250px;
}
