.job-card {
	height: calc(100% - 4rem);
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 2rem 2rem;
}

.job-card hr {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.job-card h3 {
	margin: 0;
}

.job-card > p {
	margin: 0;
}

.job-card .wp-block-button {
	margin-top: 1rem;
	margin-bottom: 0;
}

@media screen and (max-width: 800px) {

	.job-card {
		margin-bottom: 2rem;
	}
}
