.job-card {
	height: calc(100% - 4rem);
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 2rem 2rem;

	hr {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	h3 {
		margin: 0;
	}

	> p {
		margin: 0;
	}

	.wp-block-button {
		margin-top: 1rem;
		margin-bottom: 0;
	}

	@media screen and (max-width: 800px) {
		margin-bottom: 2rem;
	}

}
