.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(96, 96, 96, 0.2);
	backdrop-filter: blur(6px);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 2rem;
}

.video-container {

	img {
		width: 640px;
	}

	.video-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

.close-modal-video {
	position: absolute;
	top: 0;
	right: 4rem;
	background: none;
	border: none;
	font-size: 3rem;
	color: var(--wp--preset--color--base);
	padding: 0;

	@media screen and (max-width: 780px) {
		top: 0.75rem;
		right: 1rem;
		font-size: 2rem;
	}

	&:hover {
		transition: all 0.3s ease-in-out;
		color: var(--wp--preset--color--primary);
		cursor: pointer;
	}

}

