.number-card-1 .acf-innerblocks-container {
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
	padding: 2rem 2rem;
}

.number-card-1 .acf-innerblocks-container h2 {
	margin: 0 0 1.5rem 0;
	text-align: center;
}

.number-card-1 .acf-innerblocks-container p {
	margin-top: 1rem;
	margin-bottom: 0;
	text-align: center;
}
