.number-card-1 {

	.acf-innerblocks-container {
		background-color: #fff;
		border-radius: 1rem;
		box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
		padding: 2rem 2rem;

		h2 {
			margin: 0 0 1.5rem 0;
			text-align: center;
		}

		p {
			margin-top: 1rem;
			margin-bottom: 0;
			text-align: center;
		}
	}
}
