.section-listing-article {

	.acf-innerblocks-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		.wp-block-button {
			text-align: center;
		}
	}
}
